body {
  font-family: Tahoma;
  font-size: 100%;
  font-size: 1vmax;
  padding: 0;
  margin: 0;
}

body > header, main, body > footer {
  margin: 0 auto;
  width: 50%;
  display: block;
}

input, textarea, button {
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-wight: normal;
}

time {
  font-size: 0.8em;
}

body > header > h1 {
  text-align: center;
}

body > header > section {
  float: right;
  width: 20%;

}

main > section {
  width: 80%;
  float: left;
  border-right: 1px solid gray;
}

main > aside {
  float: right;
}

main > aside ul {
  padding: 0;
  margin: 0; 
}

main > aside ul li {
  list-style-type: none;
}

main article {
  margin: 2em 0;
}

main article > header h2 {
  margin: 0;
}

main article > time {
  margin: 1em 0 0.5em 0;
}

main article > p {
  margin: 1em 1em 1em 0;
}

main .comment {
  margin-bottom: 1em;
  padding-left: 1em;
}

main .comment:hover {
  border-left: 2px solid gray;
  margin-left: -2px;
}

main .comments header {
  margin: 0.3em 0;
}

.comments .reply-form > div {
  padding: 0.2em 1em;
}

.comments .reply-form input[type="submit"] {
  text-align: center;
}

.comments .reply-form div:first-child {
    display: none;
}

.comments .reply-form input, .comments .reply-form textarea {
  display: block;
  width: 100%;
  border: 2px solid #222222;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  outline: none;
  font-size: 1em;
  color: #222222;
  padding-left: 6px;
  padding-top: 3px;
  margin: 0px;
  background-color: white;
}

.comments .reply-form input:hover, .comments .reply-form textarea:hover {
  border: 2px solid #999999;
}

.comments .reply-form input {
  line-height: 1.3em;
}

.comments .reply-form input:focus, .comments .reply-form textarea:focus {
  border-color: black;
  box-shadow: 0;
  outline: 0;
}

main .comments > header a {
  float: right;
  margin-right: 1em;
}

main .comment_body {
  margin-bottom: 1em;
}

main .reply_comments {
  margin-left: 1.3em;
}

main h3 {
  display: inline;
  font-weight: normal;
}


footer {
  clear: left;
}

footer > nav {
  width: 80%;
}

footer > nav > a:older {
  float: left;
}

footer > nav > a.newer {
  float: right;
  margin: 0 1em 0 0;  
}